/*
  ICDEVGROUP Documentation CSS
  DocBook HTML structure ("." = <div>, "/" = </div>):
  docelic@icdevgroup.org
*/


/* General */
body { background-color: #fff; }
a { text-decoration: none; }
.errortext { color: red }


/*
  Reference set:
  .reference .titlepage . . <h1/> / / . / <hr> /
  .reference .toc <p> <b> </b> </p> <dl> <dt/>
  .reference .refentry .titlepage . / . / / .refnamediv <h2/> <p/> /
    .reference .refsect1 <h2/> /
*/

.titlepage h1 {
	background-color: #208cbd; /* #6CA6C8; */
	margin: 0;
	margin-bottom: 20px;
	padding: 2px 4px 2px 4px;
	border: dashed 1px #ffffff;
	color: #fff;

	/* background-image: url(../images/icon_ic2.png);
	background-position: center right;
	background-repeat: no-repeat; */
}

/* 
	Book:
	.book .titlepage . . h1.title / / . .legalnotice p / / / / . / hr /
		.toc p b / / dl dt .chapter / /
		                dt .sect1 / /
		.chapter .titlepage h1
*/

.reference hr, .book hr {
	margin: 0;
	padding: 2px 4px 2px 4px;
	height: 4px;
	border: 0;
	border-top: 1px dashed #208cbd;
	border-bottom: 1px solid #208cbd;
	visibility: hidden;
}

.reference .toc, .article .toc, .book .toc {
	margin: 0;
	margin-bottom: 40px;
	border: 1px dashed #cee7f6;
}

.reference .toc p, .article .toc p {
	margin: 0;
	padding: 0;
	background-color: #6ca6c8;
	border-bottom: 1px dashed #fff;
	padding: 1px 4px 1px 4px;
	color: #FFF;
}

.book .toc p {
	margin: 0;
	padding: 0;
	background-color: #cee7f6;
	border-bottom: 1px dashed #fff;
	padding: 1px 4px 1px 4px;
	/*color: #FFF;*/
}

.toc dl {
	padding: 2px 4px 2px 4px;
}

.refentry .refnamediv h2 {
	margin: 0;
	padding: 0;
	background-color: #fff;
	border: none;
	padding: 0;
	color: #fff;
	font-size: 0;
	visibility: hidden;
}

.refentry .refnamediv p {
	margin: 0;
	padding: 0;
	background-color: #6ca6c8;
	border: 1px dashed #fff;
	padding: 4px 4px 4px 4px;
	color: #fff;
	font-weight: bold;
}


/*
	Chunked reference (individual refentry):
	.navheader <tr> <th> </th> </tr> <hr> /
	.refentry .titlepage . / . / / .refnamediv <h2 Name/> <p/> /
	  .refsect1 <h2/> <pre|p/ class=sectname>
*/

.navheader {
	padding: 2px 4px 2px 4px;
	border: 0;
	margin: 0;
	font-size: 0;
	height: 0;
	visibility: hidden;
}


/*
	Unchunked guide:
	.article .titlepage . . <h1 title=/> / .
	  .authorgroup
		.author <h3 author> .firstname / .surname / .email / / /
		/
		. .copyright / /
		.abstract p.title b/ / p / /
		.toc p b/ / dl dt .sect1
		  dd dl dt ...
		.sect1 .titlepage . . h2.title / / . / /
		  .sect2 .titlepage . . h3.title / / . / / <p/>
*/

.authorgroup {
	margin: 0;
	margin-bottom: 40px;
	border: 1px dashed #cee7f6;
	padding: 2px 4px 8px 4px;
}

.abstract {
	margin: 0;
	margin-bottom: 40px;
	border: 1px dashed #cee7f6;
	border-bottom: none;
}

.abstract p.title {
	margin: 0;
	padding: 0;
	background-color: #6ca6c8;
	border-bottom: 1px dashed #fff;
	padding: 1px 4px 1px 4px;
	color: #fff;
}

.abstract p {
	padding: 1px 4px 1px 4px;
}

.titlepage h2.title {
	margin: 0;
	padding: 0;
	background-color: #6ca6c8;
	border: 1px dashed #fff;
	padding: 4px 4px 4px 4px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 20px;
}

.titlepage h3.title {
	margin: 0;
	padding: 0;
	background-color: #cee7f6;
	border: 1px dashed #fff;
	padding: 4px 4px 4px 4px;
	color: #000;
	font-weight: bold;
}

.footnotes hr {
	margin: 0;
	padding: 2px 4px 2px 4px;
	width: 100%;
	border: 0;
	border-top: 1px dashed #208cbd;
	border-bottom: 1px solid #208cbd;
}

.article hr {
	margin: 0 0 10px 0;
	padding: 2px 4px 2px 4px;
	width: 100%;
	border: 0;
	border-top: 1px dashed #208cbd;
	border-bottom: 1px solid #208cbd;
	visibility: hidden;
}


/* W3C icons */

.w3c {
	margin: 0;
	padding: 8px 4px 8px 4px;
	border-top: 1px dashed #208cbd;
	border-bottom: 1px dashed #208cbd;
	border-left: 1px dashed #208cbd;
	border-right: 1px dashed #208cbd;
	text-align: right;
}

.w3c .w3cimg {
	border: 0;
	padding-right: 4px;
}


/* Inlined elements */

.programlisting {
	/*background-color: #e5e5e5;*/
	/*background-color: #f7e8e8;*/
	padding: 4px 4px 4px 4px;
	border-left: dashed 1px #ffd1d1;
	padding-left: 8px;
	margin: 0;
}

.example .title {
	padding: 2px 0px 0px 4px;
	margin-bottom: 0;
	/*background-color: #e8b9b9;*/
	/*background-color: #ffd1d1;*/
	border: dashed 1px #ffd1d1;
}

.example p {
	border-left: dashed 1px #ffd1d1;
	padding: 10px 0px 10px 4px;
	margin: 0;
}

.example {
	margin-bottom: 24px;
}

.screen {
	margin-top: 0;
	padding: 4px 4px 4px 4px;
	border-left: dashed 1px #ffd1d1;
	padding-left: 8px;
}

.code {
	background-color: #e5e5e5;
	padding: 1px 1px 1px 1px;
	border: dashed 1px white;
}

.option {
	background-color: #ffcc66;
	padding: 1px 1px 1px 1px;
	border: dashed 1px white;
}

.filename {
	background-color: #cee7f6;
	padding: 1px 1px 1px 1px;
	border: dashed 1px white;
}

.varname {
	background-color: #208cbd;
	padding: 1px 1px 1px 1px;
	border: dashed 1px white;
	color: white;
}

.pragma {
	background-color: #bb7009;
	padding: 1px 1px 1px 1px;
	border: dashed 1px white;
	color: white;
}

.function {
	background-color: #d2aa55;
	padding: 1px 1px 1px 1px;
	border: dashed 1px white;
}

.database {
	border: dotted 1px #cee7f6;
	padding-left: 3mm;
}

a {
	color: #208cbd;
}

