# The usual comments can be used here. 
# To override a field, supply a value
# To let it through unmodified, simply leave the fields empty
#  id: name of the output file (defaults to <name>)
id:
#  name: visible name in the pages
name:
#  purpose: oneline description
purpose: custom subroutine to run before page Variable processing
#  specify person(s). Defaults to icdevgroup
author:
#  leave empty; GPL is the default
copyright:
see also: init_page, pre_page, post_page
default: none
